<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
</head>
<body>
    <%- include layout %>
    <div class="container">
        <h3 class="center">Add or Writing Blog</h3>
        <%- messages() %>
        <% if(locals.errors) { %>
            <ul class="alert alert-danger">
                <% Object.values(errors).forEach(function(error) { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>

        <form class="" action="/blog/add" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Article Name</label>
              <input type="text" name="article" class="form-control" >
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <textarea name="description" rows="8" cols="80" class="form-control" ></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Author</label>
                <textarea name="author" class="form-control" ></textarea>
            </div>
            <input type="submit" value="Save" name="" class="btn btn-primary">
        </form>

        <script>
            $(function() {
                $('#messages').addClass('alert alert-success');
            })
            CKEDITOR.replace( 'description' );
        </script>
    </div>
</body>
</html>