<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>This is my blog</h1>
    <a href="/blog">Link to read the content</a>
    </div>  
  </body>
</html>
